.logo{
    width: 200px;
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
}

.info{
    padding-top: 10px;   
}


#menu{
 width:100px;   
}

#buscador{
    width: 150%;
    margin-top: 45px;
}
.form-control{
    margin-left: 0px;
    margin-top: 45px;
    
    
}

.contacto{

}
.navbar-default .navbar-nav > li > a {
    color: white; /*Change active text color here*/
    font-family: Impact,sans-serif;
    font-size: 15px
    }

.navbar-default .navbar-nav > li > a:hover{
    background-color: lightgray;

    }
.navbar-default .navbar-nav > li:first-child{
    margin-left: 50px;
    
}

.ubicanos{
    margin-left: 20px;   
}

/*------------------------------------------ICONOS-----------------------------------------------------------------*/
#iconoFacebook{
    border-radius: 20%;
    
    
}
#iconoFacebook:hover{
    height:50px;
    width: 50px;
    overflow: auto;
    box-shadow: 10px 10px 5px gray;
}
#iconoTwitter{
    border-radius: 20%;
   
}
#iconoTwitter:hover{
    height:50px;
    width: 50px;
    overflow: auto;
    box-shadow: 10px 10px 5px gray;
}
#iconoGoogle{
    border-radius: 20%;
    
}
#iconoGoogle:hover{
    height:50px;
    width: 50px;
    overflow: auto;
    box-shadow: 10px 10px 5px gray;
}
#iconoYoutube{
    border-radius: 20%;
    padding-top: 10px;
}

#accountID{
    padding-top: 10px;
    padding-left: 30px;
}
/*----------------------------------------------------------------------------------------------------------------------*/

/*-------------------BARRA DE ARTICULOS---------------------------------------------------------------------------------*/

#barnav{
    background-color:dimgray;
    margin-bottom: 15px;
}


.articulos{
    height: 280px;
    width: 250px;
    padding-top: 10px;
}
.articulos:hover{
    opacity: 0.5;
}
figure:hover .texto{
    background-color: blue;
    
}

/*----------------------------------------------------------------------------------------------------------------------*/
/*----Carrusel---------------------------------*/

#carrucelanimacion{
    margin-left: 10px; 
    margin-right: 10px;
    border: 5px solid white;
    margin-bottom: 15px;
    
}


}
#accesos{
    height:150px ;
    width:335px;
    margin-top: 20px;
    margin-right: 25px;
    border: 5px solid white;
}

/*------------------BODY------------------------------------------------------------------------------------------------*/
#cabecera{
    background-color: white;
    align-items: center;
}

body{
 background-color: lightgray;
}

li{
    list-style-type: none;
}
#row1{ /*Este propiedad es de la primera fila donde se encuentran el panel de categorias y las imagenes*/
    padding-top: 70px;   
}

#row2{/*Esta propidedad es para la segunda fila solo para el panel contraseña y usuario*/
    padding-top: 45px;   
}
#exampleInputEmail1{
    width: 95%;   
}


hr{
    width: 90%;
    border: 2px solid gray;
}

#fondoContenedores{
    background-color: lightgray;
    border-radius: 2%;
}

.texto{
    color: white;
    text-align: center;
    font-family: Arial sans-serif;
    font-size: 24px;
    background-color: black;
    margin-right: 15px;
    width:250px;
    margin-bottom: 0px;
}

.diseno{
    text-align: center;
    background-color: black;
    color: white;
    font-size: 35px;
    border: 5px solid white;
    margin-left: 25px;
    width: 100%;

    
}

#subtema{
    font-size: 60px;   
}

#pago{
    height: 350px;
    width: 220px;
    border: 5px solid black;
}

#preguntas{
    height: 350px;
    margin-top:10px;
    border: 5px solid white;
}

#cpagos{
    
    padding-top: 10px;
    
}

#cenvios{
    
}

fieldset{
 background: white;
    border-radius: 5px;
}

select{
    width: 30%;
    height: 25px;
    border-radius: 3px;
}

.tema{
    padding-right: 50px;
    padding-left: 10px;
}

.correo{
    padding-right: 60px;
    padding-left: 10px;
}

#email{
    width: 60%;
    border-radius: 3px;
}

.mensaje{
    padding-right: 50px;
    float: left;
    padding-left: 10px;
}
textarea{
    width: 80%;
    height: 270px;
    border-radius: 5px;
    border: 3px solid gray;
    
}

#cargarArchivo{
    padding-left: 10px;   
}

h3{
    padding-left: 10px;   
}
#fileUpload{
    padding-left: 10px;   
}

.btnEnviar{
    margin-left: 300px;
}
#seccion{
  padding-left: 12px;   
}


   
/*------------------PIE DE PAGINA---------------------------------------------------------------------------------------*/

.indicefoot{
    color:black;
    list-style-type: none;
    padding-right: 15px;
    padding-left: 5px;
  
}
.titlefooter{
    color: black;
    padding-left: 320px;
    font-size: 25px;
}

.tarjeta{
    color:gray;
    padding-top: 10px;
    font-size: 20px;
    margin-top: 20px;
}

.candado{
    height: 60px;
    width: 60px;
    
}

.bancos{
    height:40px;
    width:100px;
    padding-right: 20px;
    padding-left: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

/*-------------------------------Dropdowns imagenes--------------------------*/

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown .dropdown-menu {
    position: absolute;
    background-color: transparent;

    /**
     * Set the top of the dropdown menu to be positioned 100%
     * from the top of the container, and aligned to the left.
     */
    top: 100%;
    left: 0;

    /** Allow no empty space between this and .dropdown */
    margin: 0;
}
.dropdown-menu a{
    background-color: white;
    font-family: fantasy;
}


figure:hover .dropdown .dropdown-menu{
  display: block;   
}

button{
    font-size: 18px;
    width:250px;
    background-color: teal;
    color:white;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

figure:hover button{
  background-color: antiquewhite;
    border: 3px solid dimgray;
    color:black;
}
/*--------------------Nosotros-----------------*/
#nos{
    margin-top: 30px;
    margin-left: 30px;
}
/*-----------------Ubicacion----------------*/
#ubi{
    margin-top: 30px;
    margin-left: 80px;
}
figure{
 padding-bottom: 10px;   
}
